<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生排班管理</title>
    <link th:include="comm/head :: copy"/>
</head>
<body style="margin: 1px">
<table id="dg" title="医生值班" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       fit="true" toolbar="#tb"  striped="true">
    <thead>
    <th field="ss" width="20" align="center"checkbox="true"></th>
    <th field="id" width="20" align="center" hidden="true">编号</th>
    <th field="deptName" width="50" align="center">科室</th>
    <th field="docName" width="50" align="center">姓名</th>
    <th field="sdate" width="100" align="center">值班日期</th>
    <th field="climit" width="100" align="center">最大接诊人数</th>
    <th field="sn" width="100" align="center">当日已挂号</th>
    <th field="bb" width="50" align="center" formatter="formatOperation">操作</th>
    </thead>
</table>

<div id="tb">
    <div style="display: inline-block">
        <a href="javascript:openScheduleAdd()" class="easyui-linkbutton" iconCls="icon-add" plain="true">医生排班</a>
        <a href="javascript:delSchedule()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
    </div>
    <div style="display: inline-block;float: right">
        &nbsp;患者姓名：&nbsp;<input type="text" id="s_deptName" size="20" onkeydown="if(event.keyCode==13) searchInfo()"/>
        <a href="javascript:searchInfo()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜索</a>
    </div>
</div>


<div id="dlg" class="easyui-dialog" style="width: 480px;height: 350px;padding: 10px 20px"
     closed="true" buttons="#dlg-buttons" data-options="onClose:function(){}" modal="true">
    <form id="fm" method="post">
        <input type="hidden" id="id" name="id">
        <table cellspacing="8px">
            <tr>
                <td>科室：</td>
                <td>
                    <select id="deptName" name="deptName" required="true" style="width:200px;" onchange="change(this.value)">
                    </select>
                </td>
            </tr>
            <tr>
                <td>姓名：</td>
                <td>
                    <select id="docName" name="docName" required="true" style="width:200px;" >
                    </select>
                </td>
            </tr>
            <tr>
                <td>startDate：</td>
                <td>
                    <select id="startdate" name="startdate" class="easyui-datebox" required="true" style="width:200px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td>endDate：</td>
                <td>
                    <select id="enddate" name="enddate" class="easyui-datebox" required="true" style="width:200px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td>每日接诊人数：</td>
                <td>
                    <input type="text" id="climit" name="climit" class="easyui-validatebox" required="true" style="width: 200px;"/>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="dlg-buttons">
    <a href="javascript:saveSchedule()" class="easyui-linkbutton" iconCls="icon-ok" >确定</a>
    <a href="javascript:closeSchedule()" class="easyui-linkbutton" iconCls="icon-cancel" >关闭</a>
</div>

</body>
<script type="text/javascript">

    function searchSchedule(){
        $("#dg").datagrid('load',{
            "name":$("#s_deptName").val()
        });
    }

    function closeSchedule(){
        $("#dlg").dialog("close");
    }

    function saveSchedule(){
        $("#fm").form("submit",{
            url:"/doctor/schedule/save",
            onSubmit:function(){
                return $(this).form("validate");  //当前表单对象提交给/doctor/schedule/save
            },
            success:function(result){
                var result=eval('('+result+')');
                if(result.success){
                    message(result.msg);
                    $("#dlg").dialog("close");
                    $("#dg").datagrid("reload");
                }else{
                    message(result.msg);
                }
            }
        });
    }
    /*弹出在线挂号窗口*/
    function openScheduleAdd(){
        $("#dlg").dialog("open").dialog("setTitle","添加医生值班信息");
        $('#fm').form('clear');
        $("#deptName").html("");
        $("#docName").html("");
        this.deptList(); //获取所有部门信息

    }

    /*ajax获取科室表的信息，并添加到*/
    function deptList(){
        $.post("/make/info/deptList",function(data){
            var str = "<option value='data.rows[i].name'>请选择科室</option>";
            //遍历数据
            console.log(data);
            for( var i=0; i<data.rows.length; i++){
                str +="<option value='"+data.rows[i].name+"'>"+data.rows[i].name+"</option>";
                console.log(data.rows[i].name);
            }
            $("#deptName").append(str);
        },"json");
    }
    /*显示已选择科室下面对应的医生*/
    function change(name){
        console.log("打印"+name);
        $.post("/make/info/doctorList",{name:name},function(result){
            var str = "<option value='result[i].dname'>请选择医生</option>";
            //遍历数据
            console.log(result);
            for(let i=0; i<result.length; i++){
                str +="<option value='"+result[i].dname+"'>"+result[i].dname+"</option>";
                console.log(result[i].dname);
            }
            $("#docName").append(str);
        },"json");
    }

    /*弹出修改挂号信息窗口*/
    function editFun(index){
        $("#dg").datagrid("clearSelections");
        $("#dg").datagrid("selectRow",index);
        var row = $("#dg").datagrid("getSelected");
        // var selectedRows=$("#dg").datagrid("getSelections");
        $("#dlg").dialog("open").dialog("setTitle","修改挂号信息");
        $("#fm").form("load",row);
        $("#dept").html("");
        $("#doctor").html("");
        this.deptList();
    }

    function delSchedule(){
        var selectedRows=$("#dg").datagrid("getSelections");
        if(selectedRows.length!=1){
            $.messager.alert("系统提示","请选择一条要删除的数据！");
            return;
        }
        var id=selectedRows[0].id;
        $.messager.confirm("系统提示","您确定要删除这条数据吗?",function(r){
            if(r){
                $.post("/make/info/del",{id:id},function(result){
                    if(result.success){
                        message(result.msg);
                        $("#dg").datagrid("reload");
                    }else{
                        message(result.msg);
                    }
                },"json");
            }
        });
    }

    function delAllSchedule(){
        var selectedRows=$("#dg").datagrid("getSelections");
        if(selectedRows.length < 1){
            $.messager.alert("系统提示","请选择要删除的数据！");
            return;
        }
        const ids = selectedRows.map(item =>{
            return item.id;
        });
        $.messager.confirm("系统提示","您确定要删除数据吗?",function(r){
            if(r){
                $.post("/make/info/deleteAll",{ids:ids.join(",")},function(result){
                    if(result.success){
                        message(result.msg);
                        $("#dg").datagrid("reload");
                    }else{
                        message(result.msg);
                    }
                },"json");
            }
        });
    }
    //获得医生排班信息
    $(document).ready(function() {
        $("#dg").datagrid({
            url: "/doctor/schedule",
            method: "get",
            onDblClickRow:function(index,row){
                $("#dlg").dialog("open").dialog("setTitle","修改排班信息");
                $("#fm").form("load",row);
            }
        });
    });
    function formatOperation(val,row,index){
        return "<a href=\"javascript:editFun("+index+")\" class=\"easyui-linkbutton\" iconCls=\"icon-edit\" plain=\"true\"><span class=\"l-btn-left l-btn-icon-left\"><span class=\"l-btn-text\" style='color: black'>修改</span><span class=\"l-btn-icon icon-edit\">&nbsp;</span></span></a>\n" +
            "\t\t\t<a href=\"javascript:delInfo("+index+")\" class=\"easyui-linkbutton\" iconCls=\"icon-remove\" plain=\"true\"><span class=\"l-btn-left l-btn-icon-left\"><span class=\"l-btn-text\" style='color: black'>删除</span><span class=\"l-btn-icon icon-remove\">&nbsp;</span></span></a>"
    }

</script>
</html>