<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的预约</title>
    <link th:include="comm/head :: copy"/>
</head>
<body style="margin: 1px">
<table id="dg" class="easyui-datagrid"
       fitColumns="true" pagination="true" rownumbers="true"
       fit="true" toolbar="#tb"  striped="true">
    <thead>
    <th field="ss" width="20" align="center"checkbox="true"></th>
    <th field="id" width="20" align="center" hidden="true">编号</th>
    <th field="patientname" width="50" align="center">患者姓名</th>
    <th field="deptname" width="50" align="center">科室</th>
    <th field="dname" width="50" align="center">主治医生</th>
    <th field="number" width="50" align="center">就诊号</th>
    <th field="resdate" width="100" align="center">就诊时间</th>
    <th field="bb" width="50" align="center" formatter="formatOperation">操作</th>
    </thead>
</table>

<div id="dlg" class="easyui-dialog" style="width: 480px;height: 350px;padding: 10px 20px"
     closed="true" buttons="#dlg-buttons" data-options="onClose:function(){}" modal="true">
    <form id="fm" method="post">
        <input type="hidden" id="id" name="id">
        <table cellspacing="8px">
            <tr>
                <td>患者姓名：</td>
                <td>
                    <input type="text" id="patientname" name="patientname" class="easyui-validatebox" required="true" style="width: 200px;"/>
                </td>
            </tr>
            <tr>
                <td>所在科室：</td>
                <td>
                    <select id="deptname" name="deptname" required="true" style="width:200px;" onchange="change(this.value)">
                    </select>
                </td>
            </tr>
            <tr>
                <td>主治医生：</td>
                <td>
                    <select id="doctorname" name="doctorname" required="true" style="width:200px;">
                    </select>
                </td>
            </tr>
            <tr>
                <td valign="top">就诊时间：</td>
                <td>
                    <input type="text" id="resdate" name="resdate" style="width: 200px;"/>
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
<script type="text/javascript">

    /*页面加载:根据登录名称 查询我的预约信息 */
    $(document).ready(function() {
        $("#dg").datagrid({
            url: "/make/regist/myReg",
            method: "get",
        });

    });


    function delReg(id){
        console.log("id"+id);
        $.messager.confirm("系统提示","您确定要取消本次预约吗?",function(r){
            if(r){
                $.post("/make/regist/delete",{id:id},function(result){
                    if(result.success){
                        message(result.msg);
                        $("#dg").datagrid("reload");
                    }else{
                        message(result.msg);
                    }
                },"json");
            }
        });
    }


    function formatOperation(val,row,index){
        return"<a href=\"javascript:delReg("+row.id+")\" class=\"easyui-linkbutton\" iconCls=\"icon-remove\" plain=\"true\"><span class=\"l-btn-left l-btn-icon-left\"><span class=\"l-btn-text\" style='color: black'>取消预约</span><span class=\"l-btn-icon icon-remove\">&nbsp;</span></span></a>"
    }

</script>
</html>